# ============================================================
# OLLAMA CLOUD
# ============================================================

OLLAMA_HOST=https://ollama.com
OLLAMA_API_KEY=SUA_CHAVE_OLLAMA_AQUI
OLLAMA_MODEL=gemma4:cloud


# ============================================================
# OLLAMA LOCAL
# ============================================================

OLLAMA_LOCAL_HOST=http://localhost:11434/


# ============================================================
# EMBEDDINGS
# ============================================================

EMBEDDING_MODEL=nomic-embed-text